<a id="yandex-auth-link"
   class="btn icon shadow m-0 rounded-5 fw-medium"
   href="{{ url }}">
    <img src="/assets/{{ version }}/auth-yandex/login/img/yandex_icon_circle.png"
         width="32" height="32" alt="Яндекс">
</a>